.header {
    display: flex;
    padding: 92px 24px 96px 24px;
    justify-content: space-between;
    align-items: center;
}

.header__menu {
    display: flex;
    padding-left: 27px;
}

.header__link {
    text-decoration: none;
    border-bottom: 1px solid;
}

.header__links-list {
    display: flex;
    list-style: circle;
    list-style-position: inside;
    column-gap: 13px;
}

.header__links-list-item {
    
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__logo {
    display: block;
    width: 130px;
    height: 105px;
}

.address {
    display: flex;
    flex-direction: column;
    padding-right: 25px;
}

.header__address {
    text-decoration: none;
    border-bottom: 1px solid;
}